.black-bg{
	background-color: #1a1a1a
}

.right{
	margin-right: 5px;
}

.border{
	border: 5px solid white;
}

.darkgray-bg{
	background-color: #333333
}

.white{
	color: #ffffff
}

.hidden{
	display: none;
}

.spaceside{
	margin-left: 10px;
	margin-right: 20px;
	font-size: 24px;
}

.spaceup{
	margin-top: 10px;
}

.addresspadding{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.pole{
	position: absolute; 
	top: 400px; 
	left: 350px;
	height: 400px;
}

.head{
	position:absolute; 
	top:460px; 
	left:490px; 
	width: 100px;
}

.body{
	position:absolute; 
	top:540px; 
	left:520px;
	width: 50px;
}

.left-arm{
	position:absolute; 
	top:500px; 
	left:465px;
	width: 100px;
}

.right-arm{
	position:absolute; 
	top:500px; 
	left:525px;
	width: 100px;
}

.left-leg{
	position:absolute; 
	top:620px; 
	left:495px;
	width:80px;
}

.right-leg{
	position:absolute; 
	top:620px; 
	left:515px;
	width:80px;
}