<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Secret</title>

    <link rel = "stylesheet" href = "static/bootstrap/bootstrap.min.css">
    <script src = "static/jquery/jquery.js"></script>
    <script src = "static/bootstrap/bootstrap.min.js"></script>
    <script src = "static/main.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "static/css/styles.css">
</head>

<body class = "darkgray-bg">	
	<nav class = "navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<a class = "navbar-brand" href = "#">Christian's Page</a>

	<!-- Toggler/collapsibe Button -->
	<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#collapsibleNavbar">
		<span class = "navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class = "collapse navbar-collapse" id="collapsibleNavbar">
		<ul class = "navbar-nav">
		<li class = "nav-item">
			<a class = "nav-link" href = "./index.html">Home</a>
		</li>
		<li class = "nav-item">
            <a class = "nav-link" href = "./hobbies.html">Hobbies</a>
		</li>
		<li class = "nav-item">
			<a class = "nav-link active" href = "#">Secret</a>
		</li>
		<li class = "nav-item">
			<a class = "nav-link" href = "./game.html">Game</a>
		</li>
		<li class = "nav-item">
			<a class = "nav-link" href = "./book.html">Book</a>
		</li>
		<li class = "nav-item">
			<a class = "nav-link" href = "./addressbook.html">Address Book</a>
		</li>
		</ul>
	</div> 
	</nav>

	<div class = "jumbotron text-center black-bg">
		<h1 class = "white">Secret Image</h1>
	</div>

	<div class = "container">
		<div class = "row">
			<div id = "login_box" class = "col">
				<h2 class = "white">Log In</h2>
				<input id = "username" placeholder = "Username" class = "form-control spaceup">
				<input id = "password" placeholder = "Password" type = "password" class="form-control spaceup">
				<button id = "login_btn" class = "btn btn-primary spaceup">Log In</button>
			</div>

			<div id = "signup_box" class = "col">
				<h2 class = "white">Sign Up</h2>
				<input id = "new_username" placeholder = "Create a username" class = "form-control spaceup">
				<input id = "new_password" placeholder = "Create a password" type = "password" class="form-control spaceup">
				<button id = "signup_btn" class = "btn btn-primary spaceup">Sign up</button>
			</div>

			<div id = "secret_image" class = "col hidden">
				<h2 class = "white">Secret Image</h2>
				<img width = "600" length = "700" src = "/static/images/Kikko.JPG">
		</div>
	</div>


</body>

</html>
